 <!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" /> 
    <link rel="stylesheet" href="static/addAsset.css">
 
 
    <title>Add asset</title>
  </head>
  <body> 

 
 
 <div class="container">
  <form action="action_page.php">

    <label for="tag">Asset tag</label>
    <input type="text" id="tag" name="tag" placeholder="Tag">

    <label for="manager">Asset manager</label>
    <input type="text" id="manager" name="manager" placeholder="Manager">

    <label for="Type">Type</label>
    <input type="text" id="Type" name="Type" placeholder="Type">



        
    <label for="Description">Description</label>
    <textarea id="Description" name="Description" placeholder="Description style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div> 