 <!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" /> 
    <link rel="stylesheet" href="static/addRule.css">
 
 
    <title>Add Rule</title>
  </head>
  <body> 
 
 
 
<body>  
<div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="/Fences">Fences</a>
  <a href="/AssetList">Assets</a>
  <a href="/Rules">Rules</a>
  <a href="/">liveTracking</a>
</div>
<div class="bodyTemplate"> 
    <div class="form-container">
    <h2>Add Rule</h2>
    <form action="/AddRule" method="post">
      <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}"/>
           <label for="tag">Rule tag</label>
            <input type="text" id="tag" name="tag" required>


            <label for="Asset">Asset:</label>  


                  
            <select id="Asset" name="Asset" required>  

            {#for asset in assets} 

                <option value={asset.assetId}>{asset.tag}</option>
                 {/for}
            </select>

 

    <label for="Asset">Fences:</label>
<select id="Fences" name="Fences" multiple required> 
       {#for fence in fences} 

                <option value={fence.fenceId}>{fence.tag}</option>
                 {/for}
  </select>

      <label for=">description">Description</label>
          <textarea id="description" name="description">
</textarea> 
<br/>
            <button type="submit">Submit</button>
           </form>
    </div>
    </div>
</body>
    
 <script>
 
    
 
 
 </script>
</html>
