<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" /> 
    <link rel="stylesheet" href="static/AssetList.css">
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
 
    <title>Asset list</title>
  </head>
  <body> 


  
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" /> 
    <link rel="stylesheet" href="static/AssetList.css">
    <title>Ma page de test</title>
  </head>
  <body>  
<div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="/Fences">Fences</a>
  <a href="/AssetList">Assets</a>
  <a href="/Rules">Rules</a>
  <a href="/">liveTracking</a>
</div>
    <div class="cards">  
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Add asset</h5>
    <p class="card-text">Configure your own asset to track and monitor</p>
    <a href="/AddAsset" class="btn btn-primary">add</a>
  </div>
</div>   
 
        
         {#for asset in AssetDetails} 
 
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{asset.type}</h5>
    <p class="card-text">{asset.description}</p>
    <a href="/AssetDetail/{asset.assetId}" class="btn btn-primary">Details</a>
  </div>
</div>   
 
 
      {/for}
         </div>
 

  </body>
</html>
